{% extends 'base.html' %}
{% block title %}Calculator{% endblock title %}
{% block content %}
  <h1>Check out my calculator!</h1>
  <form method="post" action="/">
    {% csrf_token %}
    <input type="text" name="left_side" placeholder="Enter Digit">
    <select name="operator">
      <option value="+" name="+">+</option>
      <option value="-" name="-">-</option>
      <option value="*" name+"*">*</option>
      <option value="/" name="/">/</option>
    </select>
    <input type="text" name="right_side" placeholder="Enter Digit">
    <span><input type="submit" value="Calculate" class="btn btn-success">
      <a href="{% url 'index' %}" class="btn btn-danger">Reset</a>
    </span>
    {{ total | linebreaks }}


{% endblock %}
